USE [master]
GO
/****** Object:  Database [QLMamNon]    Script Date: 2017/12/29 17:08:50 ******/
CREATE DATABASE [QLMamNon]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLMamNon', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\QLMamNon.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QLMamNon_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\QLMamNon_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLMamNon].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLMamNon]
GO
/****** Object:  Table [dbo].[ChucVu]    Script Date: 2017/12/29 17:08:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ChucVu](
	[MaChucVu] [varchar](20) NOT NULL,
	[TenChucVu] [nvarchar](50) NULL,
 CONSTRAINT [PK_ChucVu] PRIMARY KEY CLUSTERED 
(
	[MaChucVu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CT_DichVu_HocSinh]    Script Date: 2017/12/29 17:08:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CT_DichVu_HocSinh](
	[MaCT_DV_HS] [varchar](20) NOT NULL,
	[MaHocSinh] [varchar](20) NOT NULL,
	[MaDichVu] [varchar](20) NOT NULL,
	[ThangDangKy] [varchar](7) NOT NULL,
 CONSTRAINT [PK_CT_DichVu_HocSinh] PRIMARY KEY CLUSTERED 
(
	[MaCT_DV_HS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CT_NgayTheoDoi]    Script Date: 2017/12/29 17:08:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CT_NgayTheoDoi](
	[MaPhieuTheoDoi] [int] NOT NULL,
	[MaHocSinh] [varchar](20) NOT NULL,
	[DDVang] [bit] NOT NULL CONSTRAINT [DF_CT_NgayTheoDoi_DDVang]  DEFAULT ((0)),
	[DDAnSang] [bit] NOT NULL CONSTRAINT [DF_CT_NgayTheoDoi_DDAnSang]  DEFAULT ((0)),
	[DDAnTrua] [bit] NOT NULL CONSTRAINT [DF_CT_NgayTheoDoi_DDAnTrua]  DEFAULT ((0)),
	[GhiChu] [nvarchar](100) NULL,
	[ChiPhi] [money] NULL,
 CONSTRAINT [PK_CT_NgayTheoDoi] PRIMARY KEY CLUSTERED 
(
	[MaPhieuTheoDoi] ASC,
	[MaHocSinh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CT_PhieuThu_HocSinh]    Script Date: 2017/12/29 17:08:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CT_PhieuThu_HocSinh](
	[MaCT_PhieuThu_HocSinh] [varchar](20) NOT NULL,
	[TenLoaiPhi] [nvarchar](50) NULL,
	[SoLuong] [int] NULL,
	[ChiPhi] [money] NULL,
	[MaPhieuThu] [varchar](20) NULL,
 CONSTRAINT [PK_CT_PhieuThu_HocSinh] PRIMARY KEY CLUSTERED 
(
	[MaCT_PhieuThu_HocSinh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DichVuNgoai]    Script Date: 2017/12/29 17:08:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DichVuNgoai](
	[MaDichVu] [varchar](20) NOT NULL,
	[TenDV] [nvarchar](50) NOT NULL,
	[ChiPhi] [money] NULL CONSTRAINT [DF_DichVuNgoai_ChiPhi]  DEFAULT ((0)),
	[GhiChu] [nvarchar](100) NULL,
 CONSTRAINT [PK_DichVuNgoai] PRIMARY KEY CLUSTERED 
(
	[MaDichVu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HocPhi]    Script Date: 2017/12/29 17:08:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HocPhi](
	[MaHocPhi] [varchar](20) NOT NULL,
	[TenHocPhi] [nvarchar](50) NOT NULL,
	[ChiPhi] [money] NOT NULL CONSTRAINT [DF_HocPhi_ChiPhi]  DEFAULT ((0)),
	[GhiChu] [nvarchar](100) NULL,
	[LoaiHocphi] [varchar](20) NULL,
 CONSTRAINT [PK_HocPhi] PRIMARY KEY CLUSTERED 
(
	[MaHocPhi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HocSinh]    Script Date: 2017/12/29 17:08:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HocSinh](
	[MaHocSinh] [varchar](20) NOT NULL,
	[Ten] [nvarchar](50) NULL,
	[NgaySinh] [date] NULL,
	[GioiTinh] [nvarchar](5) NULL,
	[DiaChi] [nvarchar](200) NULL,
	[TinhTrang] [nvarchar](50) NULL,
	[ChieuCao] [int] NULL,
	[CanNang] [int] NULL,
	[TenPhuHuynh] [nvarchar](50) NULL,
	[SoCmt] [nvarchar](50) NULL,
	[Sdt] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[NgaySinhPhuHuynh] [date] NULL,
	[GhiChu] [nvarchar](50) NULL,
	[MaLop] [varchar](20) NULL,
	[DoiTuongMTA] [bit] NULL CONSTRAINT [DF_HocSinh_DoiTuongMTA]  DEFAULT ((0)),
	[TrangThai] [bit] NULL CONSTRAINT [DF_HocSinh_TrangThai]  DEFAULT ((0)),
 CONSTRAINT [PK_HocSinh] PRIMARY KEY CLUSTERED 
(
	[MaHocSinh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LoaiHocPhi]    Script Date: 2017/12/29 17:08:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LoaiHocPhi](
	[MaLoai] [varchar](20) NOT NULL,
	[TenLoai] [nvarchar](50) NOT NULL,
	[GhiChu] [nvarchar](100) NULL,
 CONSTRAINT [PK_LoaiHocPhi] PRIMARY KEY CLUSTERED 
(
	[MaLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Lop]    Script Date: 2017/12/29 17:08:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Lop](
	[MaLop] [varchar](20) NOT NULL,
	[TenLop] [nvarchar](50) NOT NULL,
	[GhiChu] [nvarchar](100) NULL,
	[SiSo] [int] NULL,
 CONSTRAINT [PK_Lop] PRIMARY KEY CLUSTERED 
(
	[MaLop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 2017/12/29 17:08:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNhanVien] [varchar](20) NOT NULL CONSTRAINT [DF_NhanVien_MaNhanVien]  DEFAULT ('DBO.AUTO_IDNhanVien'),
	[TenNhanVien] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](200) NULL,
	[Sdt] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[MaChucVu] [varchar](20) NULL,
	[MaLop] [varchar](20) NULL,
	[Password] [nvarchar](50) NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[MaNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PhieuChiTieu]    Script Date: 2017/12/29 17:08:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PhieuChiTieu](
	[MaPhieuChiTieu] [varchar](20) NOT NULL,
	[NgayTaoPhieu] [date] NULL,
	[MaNhanVien] [varchar](20) NOT NULL,
	[TenNguoiChi] [nvarchar](50) NULL,
	[LyDo] [nvarchar](100) NULL,
	[ChiPhi] [money] NULL,
	[ChungTu] [nvarchar](50) NULL,
 CONSTRAINT [PK_PhieuChiTieu] PRIMARY KEY CLUSTERED 
(
	[MaPhieuChiTieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PhieuTheoDoi]    Script Date: 2017/12/29 17:08:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PhieuTheoDoi](
	[MaPhieuTheoDoi] [int] IDENTITY(1,1) NOT NULL,
	[MaGiaoVien] [varchar](20) NOT NULL,
	[NgayTheoDoi] [date] NOT NULL,
	[ChiPhiDuTinh] [money] NULL,
 CONSTRAINT [PK_PhieuTheoDoi_1] PRIMARY KEY CLUSTERED 
(
	[MaPhieuTheoDoi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PhieuThu]    Script Date: 2017/12/29 17:08:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PhieuThu](
	[MaPhieuThu] [varchar](20) NOT NULL,
	[NgayTaoPhieu] [varchar](7) NOT NULL,
	[MaHocSinh] [varchar](20) NOT NULL,
	[MaNhanVien] [varchar](20) NOT NULL,
	[GhiChu] [varchar](100) NULL,
 CONSTRAINT [PK_PhieuThu] PRIMARY KEY CLUSTERED 
(
	[MaPhieuThu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Quyen]    Script Date: 2017/12/29 17:08:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Quyen](
	[MaQuyen] [varchar](50) NOT NULL,
	[MoTa] [nvarchar](50) NULL,
	[ParentId] [nvarchar](50) NULL,
 CONSTRAINT [PK_Quyen] PRIMARY KEY CLUSTERED 
(
	[MaQuyen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Quyen_ChucVu]    Script Date: 2017/12/29 17:08:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Quyen_ChucVu](
	[MaChucVu] [varchar](20) NOT NULL,
	[MaQuyen] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Quyen_ChucVu] PRIMARY KEY CLUSTERED 
(
	[MaQuyen] ASC,
	[MaChucVu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[ChucVu] ([MaChucVu], [TenChucVu]) VALUES (N'ADMIN', N'SupperAdmin')
INSERT [dbo].[ChucVu] ([MaChucVu], [TenChucVu]) VALUES (N'GVC', N'Giáo viên chính')
INSERT [dbo].[ChucVu] ([MaChucVu], [TenChucVu]) VALUES (N'GVP', N'Giáo viên phụ')
INSERT [dbo].[CT_DichVu_HocSinh] ([MaCT_DV_HS], [MaHocSinh], [MaDichVu], [ThangDangKy]) VALUES (N'CT_DV_HS-13EAF9', N'5', N'DV-506', N'12/2017')
INSERT [dbo].[CT_DichVu_HocSinh] ([MaCT_DV_HS], [MaHocSinh], [MaDichVu], [ThangDangKy]) VALUES (N'CT_DV_HS-1D9CAA', N'1', N'DV-506', N'12/2017')
INSERT [dbo].[CT_DichVu_HocSinh] ([MaCT_DV_HS], [MaHocSinh], [MaDichVu], [ThangDangKy]) VALUES (N'CT_DV_HS-22EF2C', N'2', N'DV-507', N'12/2017')
INSERT [dbo].[CT_NgayTheoDoi] ([MaPhieuTheoDoi], [MaHocSinh], [DDVang], [DDAnSang], [DDAnTrua], [GhiChu], [ChiPhi]) VALUES (46, N'1', 1, 0, 0, NULL, NULL)
INSERT [dbo].[CT_NgayTheoDoi] ([MaPhieuTheoDoi], [MaHocSinh], [DDVang], [DDAnSang], [DDAnTrua], [GhiChu], [ChiPhi]) VALUES (46, N'2', 0, 1, 1, NULL, NULL)
INSERT [dbo].[CT_NgayTheoDoi] ([MaPhieuTheoDoi], [MaHocSinh], [DDVang], [DDAnSang], [DDAnTrua], [GhiChu], [ChiPhi]) VALUES (46, N'3', 0, 0, 1, NULL, NULL)
INSERT [dbo].[CT_PhieuThu_HocSinh] ([MaCT_PhieuThu_HocSinh], [TenLoaiPhi], [SoLuong], [ChiPhi], [MaPhieuThu]) VALUES (N'Ct_pt_hs-1E7F', N'Môn Vẽ', 1, 100.0000, N'PhieuThu-65D')
INSERT [dbo].[CT_PhieuThu_HocSinh] ([MaCT_PhieuThu_HocSinh], [TenLoaiPhi], [SoLuong], [ChiPhi], [MaPhieuThu]) VALUES (N'Ct_pt_hs-3B37', N'Ăn sáng', 13, 15.0000, N'PhieuThu-C66')
INSERT [dbo].[CT_PhieuThu_HocSinh] ([MaCT_PhieuThu_HocSinh], [TenLoaiPhi], [SoLuong], [ChiPhi], [MaPhieuThu]) VALUES (N'Ct_pt_hs-4208', N'Học phí', 1, 300.0000, N'PhieuThu-65D')
INSERT [dbo].[DichVuNgoai] ([MaDichVu], [TenDV], [ChiPhi], [GhiChu]) VALUES (N'DV-506', N'Môn Vẽ', 100.0000, N'Môn vẽ nghệ thuật, tăng khả năng sáng tạo..')
INSERT [dbo].[DichVuNgoai] ([MaDichVu], [TenDV], [ChiPhi], [GhiChu]) VALUES (N'DV-507', N'Aerobic', 100.0000, N'môn nghệ thuật aerobic')
INSERT [dbo].[DichVuNgoai] ([MaDichVu], [TenDV], [ChiPhi], [GhiChu]) VALUES (N'DV-516', N'Môn tạo hình', 100.0000, N'Môn tạo hình tăng khả năng sáng tạo và tư duy')
INSERT [dbo].[HocPhi] ([MaHocPhi], [TenHocPhi], [ChiPhi], [GhiChu], [LoaiHocphi]) VALUES (N'DV-506', N'Môn Vẽ', 100.0000, N'Môn vẽ nghệ thuật, tăng khả năng sáng tạo..', N'LoaiHocPhi-472E')
INSERT [dbo].[HocPhi] ([MaHocPhi], [TenHocPhi], [ChiPhi], [GhiChu], [LoaiHocphi]) VALUES (N'DV-516', N'Môn tạo hình', 100.0000, N'Môn tạo hình tăng khả năng sáng tạo và tư duy', N'LoaiHocPhi-472E')
INSERT [dbo].[HocPhi] ([MaHocPhi], [TenHocPhi], [ChiPhi], [GhiChu], [LoaiHocphi]) VALUES (N'DV-938', N'Học thêm thứ 7', 100.0000, N'Học bồi dưỡng thêm vào cuối tuần', N'LoaiHocPhi-472E')
INSERT [dbo].[HocSinh] ([MaHocSinh], [Ten], [NgaySinh], [GioiTinh], [DiaChi], [TinhTrang], [ChieuCao], [CanNang], [TenPhuHuynh], [SoCmt], [Sdt], [Email], [NgaySinhPhuHuynh], [GhiChu], [MaLop], [DoiTuongMTA], [TrangThai]) VALUES (N'1', N'Nguyễn A', CAST(N'1994-01-12' AS Date), N'Nam', N'43 trần nhật duật, phường nam ngạn , thành phố thanh hóa', N'học tập tốt, ngoan ngoan, nghe lời thầy cô', 75, 30, N'Nguyễn Cha A', N'173363724', N'01676983088', N'hungth11b@gmail', CAST(N'1966-11-02' AS Date), N'bé gầy và ăn ít, hay ho và ốm', N'BE', 0, 1)
INSERT [dbo].[HocSinh] ([MaHocSinh], [Ten], [NgaySinh], [GioiTinh], [DiaChi], [TinhTrang], [ChieuCao], [CanNang], [TenPhuHuynh], [SoCmt], [Sdt], [Email], [NgaySinhPhuHuynh], [GhiChu], [MaLop], [DoiTuongMTA], [TrangThai]) VALUES (N'111', N'John Hammond', CAST(N'1966-11-02' AS Date), N'nam', N'43 trần nhật duật', N'tốt', 143, 45, N'hùng', N'123123123', N'167698388', N'hungth11b@gmail.com', CAST(N'1966-11-02' AS Date), NULL, N'BE', 0, 1)
INSERT [dbo].[HocSinh] ([MaHocSinh], [Ten], [NgaySinh], [GioiTinh], [DiaChi], [TinhTrang], [ChieuCao], [CanNang], [TenPhuHuynh], [SoCmt], [Sdt], [Email], [NgaySinhPhuHuynh], [GhiChu], [MaLop], [DoiTuongMTA], [TrangThai]) VALUES (N'12', N'aasdasd', CAST(N'1992-04-04' AS Date), N'as', N'jgh', N'jg', 76, 76, N'ghg', N'hg', N'hg', N'as', CAST(N'1992-04-04' AS Date), N'BE', N'BE', 1, 1)
INSERT [dbo].[LoaiHocPhi] ([MaLoai], [TenLoai], [GhiChu]) VALUES (N'LoaiHocPhi-20D1', N'Học phí đầu năm', N'Các khoản bắt buộc đóng đầu năm học, như tiền xây dựng, cơ sở vật chất')
INSERT [dbo].[LoaiHocPhi] ([MaLoai], [TenLoai], [GhiChu]) VALUES (N'LoaiHocPhi-2FAA', N'Đóng theo tháng', N'Các khoản bắt buộc đóng theo tháng, như học phí, đồ dùng cá nhân ...')
INSERT [dbo].[LoaiHocPhi] ([MaLoai], [TenLoai], [GhiChu]) VALUES (N'LoaiHocPhi-472E', N'Đóng theo nguyện vọng phụ huynh', N'Các khoản phụ thuộc vào sự đồng ý của các bậc phụ huynh, như học thêm, dịch vụ xã hội')
INSERT [dbo].[Lop] ([MaLop], [TenLop], [GhiChu], [SiSo]) VALUES (N'BE', N'Mẫu giáo bé', N'Các bé từ 25-36 tháng tuổi', 20)
INSERT [dbo].[Lop] ([MaLop], [TenLop], [GhiChu], [SiSo]) VALUES (N'MGLA', N'Mẫu giáo lớn A', N'Các bé từ 4-5 tuổi', 25)
INSERT [dbo].[Lop] ([MaLop], [TenLop], [GhiChu], [SiSo]) VALUES (N'MGLB', N'Mẫu giáo lớn B', N'Các bé từ 4-5 tuổi', 25)
INSERT [dbo].[NhanVien] ([MaNhanVien], [TenNhanVien], [DiaChi], [Sdt], [Email], [MaChucVu], [MaLop], [Password]) VALUES (N'Admin', N'Admin', NULL, N'01676983088', N'admin@gmail.com', N'ADMIN', NULL, N'123123')
INSERT [dbo].[NhanVien] ([MaNhanVien], [TenNhanVien], [DiaChi], [Sdt], [Email], [MaChucVu], [MaLop], [Password]) VALUES (N'GV1', N'Nguyễn Chính', N'43 trần nhật duật, phường nam ngạn , thành phố thành hóa ', N'01676983088 ', N'giaovien@gmail.com', N'GVC', N'BE', N'123123')
INSERT [dbo].[NhanVien] ([MaNhanVien], [TenNhanVien], [DiaChi], [Sdt], [Email], [MaChucVu], [MaLop], [Password]) VALUES (N'GV10', N'giáo viên 10', N'43 trần nhật duật, phường nam ngạn , thành phố thành hóa', N'01676983088', N'', N'GVC', N'MGNB', N'123123')
SET IDENTITY_INSERT [dbo].[PhieuTheoDoi] ON 

INSERT [dbo].[PhieuTheoDoi] ([MaPhieuTheoDoi], [MaGiaoVien], [NgayTheoDoi], [ChiPhiDuTinh]) VALUES (46, N'GV1', CAST(N'2017-12-01' AS Date), NULL)
INSERT [dbo].[PhieuTheoDoi] ([MaPhieuTheoDoi], [MaGiaoVien], [NgayTheoDoi], [ChiPhiDuTinh]) VALUES (47, N'GV1', CAST(N'2017-12-02' AS Date), NULL)
INSERT [dbo].[PhieuTheoDoi] ([MaPhieuTheoDoi], [MaGiaoVien], [NgayTheoDoi], [ChiPhiDuTinh]) VALUES (48, N'GV1', CAST(N'2017-12-03' AS Date), NULL)
SET IDENTITY_INSERT [dbo].[PhieuTheoDoi] OFF
INSERT [dbo].[PhieuThu] ([MaPhieuThu], [NgayTaoPhieu], [MaHocSinh], [MaNhanVien], [GhiChu]) VALUES (N'PhieuThu-65D', N'12/2017', N'1', N'Admin', NULL)
INSERT [dbo].[PhieuThu] ([MaPhieuThu], [NgayTaoPhieu], [MaHocSinh], [MaNhanVien], [GhiChu]) VALUES (N'PhieuThu-C66', N'12/2017', N'2', N'Admin', NULL)
INSERT [dbo].[Quyen] ([MaQuyen], [MoTa], [ParentId]) VALUES (N'GiaoVien', N'Nghiệp vụ giáo viên', NULL)
INSERT [dbo].[Quyen] ([MaQuyen], [MoTa], [ParentId]) VALUES (N'GiaoVien-DiemDanh', N'Giáo viên điển danh', N'GiaoVien')
INSERT [dbo].[Quyen] ([MaQuyen], [MoTa], [ParentId]) VALUES (N'GiaoVien-Index', N'Xem trang chủ giáo viên', N'GiaoVien')
INSERT [dbo].[Quyen_ChucVu] ([MaChucVu], [MaQuyen]) VALUES (N'GVC', N'GiaoVien-DiemDanh')
INSERT [dbo].[Quyen_ChucVu] ([MaChucVu], [MaQuyen]) VALUES (N'GVC', N'GiaoVien-Index')
INSERT [dbo].[Quyen_ChucVu] ([MaChucVu], [MaQuyen]) VALUES (N'GVP', N'GiaoVien-Index')
ALTER TABLE [dbo].[CT_DichVu_HocSinh]  WITH CHECK ADD  CONSTRAINT [FK_CT_DichVu_HocSinh_DichVuNgoai] FOREIGN KEY([MaDichVu])
REFERENCES [dbo].[DichVuNgoai] ([MaDichVu])
GO
ALTER TABLE [dbo].[CT_DichVu_HocSinh] CHECK CONSTRAINT [FK_CT_DichVu_HocSinh_DichVuNgoai]
GO
ALTER TABLE [dbo].[CT_DichVu_HocSinh]  WITH CHECK ADD  CONSTRAINT [FK_CT_DichVu_HocSinh_HocSinh] FOREIGN KEY([MaHocSinh])
REFERENCES [dbo].[HocSinh] ([MaHocSinh])
GO
ALTER TABLE [dbo].[CT_DichVu_HocSinh] CHECK CONSTRAINT [FK_CT_DichVu_HocSinh_HocSinh]
GO
ALTER TABLE [dbo].[CT_NgayTheoDoi]  WITH CHECK ADD  CONSTRAINT [FK_CT_NgayTheoDoi_HocSinh] FOREIGN KEY([MaHocSinh])
REFERENCES [dbo].[HocSinh] ([MaHocSinh])
GO
ALTER TABLE [dbo].[CT_NgayTheoDoi] CHECK CONSTRAINT [FK_CT_NgayTheoDoi_HocSinh]
GO
ALTER TABLE [dbo].[CT_NgayTheoDoi]  WITH CHECK ADD  CONSTRAINT [FK_CT_NgayTheoDoi_PhieuTheoDoi] FOREIGN KEY([MaPhieuTheoDoi])
REFERENCES [dbo].[PhieuTheoDoi] ([MaPhieuTheoDoi])
GO
ALTER TABLE [dbo].[CT_NgayTheoDoi] CHECK CONSTRAINT [FK_CT_NgayTheoDoi_PhieuTheoDoi]
GO
ALTER TABLE [dbo].[CT_PhieuThu_HocSinh]  WITH CHECK ADD  CONSTRAINT [FK_CT_PhieuThu_HocSinh_PhieuThu1] FOREIGN KEY([MaPhieuThu])
REFERENCES [dbo].[PhieuThu] ([MaPhieuThu])
GO
ALTER TABLE [dbo].[CT_PhieuThu_HocSinh] CHECK CONSTRAINT [FK_CT_PhieuThu_HocSinh_PhieuThu1]
GO
ALTER TABLE [dbo].[HocPhi]  WITH CHECK ADD  CONSTRAINT [FK_HocPhi_LoaiHocPhi] FOREIGN KEY([LoaiHocphi])
REFERENCES [dbo].[LoaiHocPhi] ([MaLoai])
GO
ALTER TABLE [dbo].[HocPhi] CHECK CONSTRAINT [FK_HocPhi_LoaiHocPhi]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [FK_NhanVien_ChucVu] FOREIGN KEY([MaChucVu])
REFERENCES [dbo].[ChucVu] ([MaChucVu])
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [FK_NhanVien_ChucVu]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [FK_NhanVien_Lop] FOREIGN KEY([MaLop])
REFERENCES [dbo].[Lop] ([MaLop])
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [FK_NhanVien_Lop]
GO
ALTER TABLE [dbo].[PhieuChiTieu]  WITH CHECK ADD  CONSTRAINT [FK_PhieuChiTieu_NhanVien] FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[NhanVien] ([MaNhanVien])
GO
ALTER TABLE [dbo].[PhieuChiTieu] CHECK CONSTRAINT [FK_PhieuChiTieu_NhanVien]
GO
ALTER TABLE [dbo].[PhieuTheoDoi]  WITH CHECK ADD  CONSTRAINT [FK_PhieuTheoDoi_NhanVien] FOREIGN KEY([MaGiaoVien])
REFERENCES [dbo].[NhanVien] ([MaNhanVien])
GO
ALTER TABLE [dbo].[PhieuTheoDoi] CHECK CONSTRAINT [FK_PhieuTheoDoi_NhanVien]
GO
ALTER TABLE [dbo].[PhieuThu]  WITH CHECK ADD  CONSTRAINT [FK_PhieuThu_HocSinh1] FOREIGN KEY([MaHocSinh])
REFERENCES [dbo].[HocSinh] ([MaHocSinh])
GO
ALTER TABLE [dbo].[PhieuThu] CHECK CONSTRAINT [FK_PhieuThu_HocSinh1]
GO
ALTER TABLE [dbo].[PhieuThu]  WITH CHECK ADD  CONSTRAINT [FK_PhieuThu_NhanVien1] FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[NhanVien] ([MaNhanVien])
GO
ALTER TABLE [dbo].[PhieuThu] CHECK CONSTRAINT [FK_PhieuThu_NhanVien1]
GO
ALTER TABLE [dbo].[Quyen_ChucVu]  WITH CHECK ADD  CONSTRAINT [FK_Quyen_ChucVu_ChucVu] FOREIGN KEY([MaChucVu])
REFERENCES [dbo].[ChucVu] ([MaChucVu])
GO
ALTER TABLE [dbo].[Quyen_ChucVu] CHECK CONSTRAINT [FK_Quyen_ChucVu_ChucVu]
GO
ALTER TABLE [dbo].[Quyen_ChucVu]  WITH CHECK ADD  CONSTRAINT [FK_Quyen_ChucVu_Quyen] FOREIGN KEY([MaQuyen])
REFERENCES [dbo].[Quyen] ([MaQuyen])
GO
ALTER TABLE [dbo].[Quyen_ChucVu] CHECK CONSTRAINT [FK_Quyen_ChucVu_Quyen]
GO
/****** Object:  StoredProcedure [dbo].[DeleteChucVu]    Script Date: 2017/12/29 17:08:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
create PROCEDURE [dbo].[DeleteChucVu]
@MaChucVu varchar(20)
as
BEGIN
	delete from ChucVu where MaChucVu=@MaChucVu
END

GO
/****** Object:  StoredProcedure [dbo].[DeleteDichVuNgoai]    Script Date: 2017/12/29 17:08:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create Procedure [dbo].[DeleteDichVuNgoai]
(    
@MaDichVu varchar(20) 
)    
as     
Begin    
 Delete FROM DichVuNgoai where MaDichVu=@MaDichVu

End  


GO
/****** Object:  StoredProcedure [dbo].[DeleteHocPhi]    Script Date: 2017/12/29 17:08:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create Procedure [dbo].[DeleteHocPhi]
(    
@MaHocPhi varchar(20) 
)    
as     
Begin    
 Delete FROM HocPhi where MaHocPhi=@MaHocPhi

End  


GO
/****** Object:  StoredProcedure [dbo].[DeleteHocSinh]    Script Date: 2017/12/29 17:08:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE Procedure [dbo].[DeleteHocSinh]
@MaHocSinh varchar(20)    
as     

Begin
if(exists(select MaHocSinh from HocSinh where MaHocSinh=@MaHocSinh and TrangThai=0))
	begin
		Delete FROM HocSinh where MaHocSinh=@MaHocSinh		
	end
else
	begin
		update HocSinh set TrangThai=0 where MaHocSinh=@MaHocSinh
	end
End  

GO
/****** Object:  StoredProcedure [dbo].[DeleteLoaiHocPhi]    Script Date: 2017/12/29 17:08:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create Procedure [dbo].[DeleteLoaiHocPhi]
(    
@MaLoai varchar(20) 
)    
as     
Begin    
 Delete FROM LoaiHocPhi where MaLoai=@MaLoai

End  


GO
/****** Object:  StoredProcedure [dbo].[DeleteLop]    Script Date: 2017/12/29 17:08:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create Procedure [dbo].[DeleteLop]
(    
@MaLop varchar(20) 
)    
as     
Begin    
 Delete FROM Lop where MaLop=@MaLop   

End  


GO
/****** Object:  StoredProcedure [dbo].[DeleteNhanVien]    Script Date: 2017/12/29 17:08:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Delete Employee  
Create Procedure [dbo].[DeleteNhanVien]
(    
@MaNhanVien varchar(20) 
)    
as     
Begin    
 Delete NhanVien where MaNhanVien=@MaNhanVien;
End  


GO
/****** Object:  StoredProcedure [dbo].[DiemDanhProc]    Script Date: 2017/12/29 17:08:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DiemDanhProc]
	@MaGiaoVien varchar(20),
	@NgayTheoDoi date,
	@MaHocSinh varchar(20),
	@ddVang bit,
	@ddAnSang bit,
	@ddAnTrua bit
AS
BEGIN
DECLARE	@maPhieuTheoDoi int

		if not exists( select * from PhieuTheoDoi ptd where MaGiaoVien=@MaGiaoVien and NgayTheoDoi=@NgayTheoDoi)
			begin
				insert into PhieuTheoDoi(MaGiaoVien,NgayTheoDoi) values (@MaGiaoVien,@NgayTheoDoi)
				
				set @maPhieuTheoDoi=( select MaPhieuTheoDoi from PhieuTheoDoi WHERE MaGiaoVien=@MaGiaoVien AND NgayTheoDoi=@NgayTheoDoi)
				insert into CT_NgayTheoDoi(MaPhieuTheoDoi, MaHocSinh, DDVang, DDAnSang,DDAnTrua) values (@maPhieuTheoDoi,@MaHocSinh,@ddVang,@ddAnSang,@ddAnTrua)	
			end
		else
			begin
				set @maPhieuTheoDoi=( select ptd.MaPhieuTheoDoi from PhieuTheoDoi ptd where MaGiaoVien=@MaGiaoVien and NgayTheoDoi=@NgayTheoDoi)
				if not exists (select * from CT_NgayTheoDoi where MaPhieuTheoDoi=@maPhieuTheoDoi and MaHocSinh=@MaHocSinh)
					begin
						insert into CT_NgayTheoDoi(MaPhieuTheoDoi, MaHocSinh, DDVang, DDAnSang,DDAnTrua) values (@maPhieuTheoDoi,@MaHocSinh,@ddVang,@ddAnSang,@ddAnTrua)	
					end
				else
					begin
						UPDATE CT_NgayTheoDoi
						SET DDVang=@ddVang,DDAnSang=@ddAnSang,DDAnTrua=@ddAnTrua
						WHERE MaPhieuTheoDoi=@maPhieuTheoDoi and MaHocSinh=@MaHocSinh
					end
			end
end	

GO
/****** Object:  StoredProcedure [dbo].[FindHocSinhInfor]    Script Date: 2017/12/29 17:08:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[FindHocSinhInfor]
(
@id varchar(20)
)
as
BEGIN
	select hs.MaHocSinh,hs.Ten as TenHocSinh,hs.NgaySinh,hs.GioiTinh,hs.DiaChi,hs.TinhTrang,hs.ChieuCao,hs.CanNang,hs.TenPhuHuynh,hs.NgaySinhPhuHuynh,hs.Sdt as SdtPhuHuynh,hs.Email as EmailPhuHuynh,hs.GhiChu,lp.MaLop,lp.TenLop,nv.TenNhanVien as TenGiaoVien,nv.Sdt as SdtGiaoVien,nv.Email as EmailGiaoVien  
                                from HocSinh hs inner join Lop lp on hs.MaLop = lp.MaLop  
                                inner join NhanVien nv on lp.MaLop = nv.MaLop  
                                inner join ChucVu cv on nv.MaChucVu = cv.MaChucVu  
                                and (cv.MaChucVu = 'GVC' or cv.MaChucVu='GVP') and hs.TrangThai = '1' and hs.MaHocSinh=@id								
END

GO
/****** Object:  StoredProcedure [dbo].[getAll_CT_NgayTheoDoi]    Script Date: 2017/12/29 17:08:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create PROCEDURE [dbo].[getAll_CT_NgayTheoDoi]
(
	@MaGiaoVien varchar(20),
	@NgayTheoDoi date
)
as
BEGIN
	select ct.* from PhieuTheoDoi ptd inner join CT_NgayTheoDoi ct on ptd.MaPhieuTheoDoi = ct.MaPhieuTheoDoi 
                where ptd.MaGiaoVien = @MaGiaoVien and ptd.NgayTheoDoi = @NgayTheoDoi	
END

GO
/****** Object:  StoredProcedure [dbo].[getAllChucVu]    Script Date: 2017/12/29 17:08:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create PROCEDURE [dbo].[getAllChucVu]

as
BEGIN
	SELECT * FROM ChucVu
END

GO
/****** Object:  StoredProcedure [dbo].[getAllDichVuNgoai]    Script Date: 2017/12/29 17:08:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[getAllDichVuNgoai]
as
BEGIN
	SELECT * FROM DichVuNgoai
END

GO
/****** Object:  StoredProcedure [dbo].[getAllhocPhi]    Script Date: 2017/12/29 17:08:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create PROCEDURE [dbo].[getAllhocPhi]
as
BEGIN
	SELECT * FROM HocPhi
END

GO
/****** Object:  StoredProcedure [dbo].[GetAllHocSinh]    Script Date: 2017/12/29 17:08:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create PROCEDURE [dbo].[GetAllHocSinh]
as
BEGIN
	SELECT * FROM HocSinh where TrangThai=1
END

GO
/****** Object:  StoredProcedure [dbo].[GetAllHocSinhDis]    Script Date: 2017/12/29 17:08:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create PROCEDURE [dbo].[GetAllHocSinhDis]
as
BEGIN
	SELECT * FROM HocSinh where TrangThai=0
END

GO
/****** Object:  StoredProcedure [dbo].[GetAllHocSinhForIdGiaoVien]    Script Date: 2017/12/29 17:08:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create PROCEDURE [dbo].[GetAllHocSinhForIdGiaoVien]
(
@id varchar(20)
)
as
BEGIN
	select hs.MaHocSinh,hs.Ten,hs.NgaySinh,hs.GioiTinh,hs.DiaChi,hs.TinhTrang,hs.ChieuCao,hs.CanNang,hs.TenPhuHuynh,hs.SoCmt,hs.Sdt,hs.Email,hs.NgaySinhPhuHuynh,hs.GhiChu,hs.MaLop 
                                from(select lp.* 
                                    from NhanVien nv inner join ChucVu cv on nv.MaChucVu = cv.MaChucVu 
                                    inner join Lop lp on nv.MaLop = lp.MaLop 
                                    and (cv.MaChucVu = 'GVC' or cv.MaChucVu='GVP') and nv.MaNhanVien = @id) as lopNew inner join HocSinh hs on hs.MaLop = lopNew.MaLop;
END

GO
/****** Object:  StoredProcedure [dbo].[getAllloaiHocPhi]    Script Date: 2017/12/29 17:08:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create PROCEDURE [dbo].[getAllloaiHocPhi]
as
BEGIN
	SELECT * FROM LoaiHocPhi
END

GO
/****** Object:  StoredProcedure [dbo].[getAllLop]    Script Date: 2017/12/29 17:08:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create PROCEDURE [dbo].[getAllLop]

as
BEGIN
	SELECT * FROM Lop				
END

GO
/****** Object:  StoredProcedure [dbo].[GetAllNhanVien]    Script Date: 2017/12/29 17:08:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetAllNhanVien]
as
BEGIN
	SELECT * FROM NhanVien where MaNhanVien!='Admin'
END

GO
/****** Object:  StoredProcedure [dbo].[getChucVuForId]    Script Date: 2017/12/29 17:08:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
CREATE PROCEDURE [dbo].[getChucVuForId]

@MaChucVu varchar(20)='',
@TenChucVu varchar(20)=''


as
BEGIN
	SELECT * FROM ChucVu where (MaChucVu=@MaChucVu or @MaChucVu='') and (TenChucVu=@TenChucVu OR @TenChucVu='')	
END

GO
/****** Object:  StoredProcedure [dbo].[getHocPhiThang]    Script Date: 2017/12/29 17:08:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create PROCEDURE [dbo].[getHocPhiThang]
as
BEGIN
	select hp.* from HocPhi hp inner join LoaiHocPhi lhp on hp.LoaiHocphi=lhp.MaLoai and lhp.MaLoai='LoaiHocPhi-2FAA'
END

GO
/****** Object:  StoredProcedure [dbo].[GetHocSinhForId]    Script Date: 2017/12/29 17:08:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create PROCEDURE [dbo].[GetHocSinhForId]
(
@id varchar(20)
)
as
BEGIN
	SELECT * FROM HocSinh where MaHocSinh=@id
END

GO
/****** Object:  StoredProcedure [dbo].[getListDichVuNgoai_HocSinh]    Script Date: 2017/12/29 17:08:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create PROCEDURE [dbo].[getListDichVuNgoai_HocSinh]
(
	@MaHocSinh varchar(20),
	@Thang varchar(7)
)
as
BEGIN
	select dv.* from DichVuNgoai dv inner join CT_DichVu_HocSinh ct on dv.MaDichVu = ct.MaDichVu  
                inner join HocSinh hs on hs.MaHocSinh = ct.MaHocSinh where hs.MaHocSinh = @MaHocSinh and ct.ThangDangKy = @Thang
END

GO
/****** Object:  StoredProcedure [dbo].[getLopForIdGiaoVien]    Script Date: 2017/12/29 17:08:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[getLopForIdGiaoVien]
	@id varchar(20)
AS
BEGIN
	(select lp.* from Lop lp 
						inner join NhanVien nv1 on nv1.MaLop=lp.MaLop 
						and (nv1.MaChucVu='GVC' or nv1.MaChucVu='GVP') 
						and nv1.MaNhanVien=@id)
END

GO
/****** Object:  StoredProcedure [dbo].[GetNhanVien]    Script Date: 2017/12/29 17:08:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
CREATE PROCEDURE [dbo].[GetNhanVien]

@MaNhanVien varchar(20)='',
@TenNhanVien varchar(20)='',
@DiaChi nvarchar(100)='',
@Sdt nvarchar(20)='',
@Email nvarchar(50)='',
@MaChucVu varchar(20)='',
@MaLop varchar(20)=''
as
BEGIN
	SELECT * FROM NhanVien where (MaNhanVien=@MaNhanVien or @MaNhanVien='')and (TenNhanVien like @TenNhanVien or @TenNhanVien='')
	and (DiaChi=@DiaChi or @DiaChi='') and (Sdt=@Sdt or @Sdt='') and(MaChucVu=@MaChucVu or @MaChucVu='') and (MaLop=@MaLop or @MaLop='')
END
GO
/****** Object:  StoredProcedure [dbo].[getNhanVienLogin]    Script Date: 2017/12/29 17:08:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[getNhanVienLogin]
(
	@email nvarchar(50),
	@password nvarchar(50)
)
as
BEGIN
	SELECT * FROM NhanVien where Email=@email and Password=@password
END

GO
/****** Object:  StoredProcedure [dbo].[GetPhieuThu]    Script Date: 2017/12/29 17:08:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetPhieuThu]
	@MaHocSinh varchar(20),
	@date varchar(7)
AS
BEGIN	
			
		select * from PhieuThu where MaHocSinh=@MaHocSinh and NgayTaoPhieu=@date
	
	
END
GO
/****** Object:  StoredProcedure [dbo].[GetPhieuThuForIdHocSinh]    Script Date: 2017/12/29 17:08:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
CREATE PROCEDURE [dbo].[GetPhieuThuForIdHocSinh]
	@MaHocSinh varchar(20),
	@MaNhanVien varchar(20),
	@date varchar(7)
AS
BEGIN	
	DECLARE @startDateString varchar(10);
	DECLARE @startDate date;
	DECLARE @endDate date;	
	set @startDateString='01/'+@date
	set @startDate=(SELECT convert(date, @startDateString, 103))
	set @endDate = DATEADD(month, 1, @startDate)

	begin
		WITH newtbl AS (
					select ct.*
					from PhieuTheoDoi ptd inner join CT_NgayTheoDoi ct on ptd.MaPhieuTheoDoi=ct.MaPhieuTheoDoi
					where ptd.NgayTheoDoi < @endDate  AND ptd.NgayTheoDoi >= @startDate
						and ct.MaHocSinh=@MaHocSinh
					)
		SELECT @date as NgayTaoPhieu,newtbl.MaHocSinh as MaHocSinh,@MaNhanVien as MaNhanVien,(select COUNT(*) from newtbl where newtbl.DDVang=1) as SoNgayVang,(select COUNT(*) from newtbl where newtbl.DDAnSang=1) as SoNgayAnSang,(select COUNT(*) from newtbl where newtbl.DDAnTrua=1) as SoNgayAnTrua,0 as ChiPhi
		FROM  newtbl
		group by newtbl.MaHocSinh
	end
	
END
GO
/****** Object:  StoredProcedure [dbo].[Insert_Ct_phieuThu_hocSinh]    Script Date: 2017/12/29 17:08:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[Insert_Ct_phieuThu_hocSinh]
	@MaCT_PhieuThu_HocSinh varchar(20),
	@TenLoaiPhi nvarchar(50),
	@SoLuong int,
	@ChiPhi money,
	@MaPhieuThu varchar(20)
AS
BEGIN
	insert into CT_PhieuThu_HocSinh 
	values(@MaCT_PhieuThu_HocSinh,@TenLoaiPhi,@SoLuong,@ChiPhi,@MaPhieuThu)
END

GO
/****** Object:  StoredProcedure [dbo].[InsertChucVu]    Script Date: 2017/12/29 17:08:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
CREATE PROCEDURE [dbo].[InsertChucVu]

@MaChucVu varchar(20),
@TenChucVu varchar(20)
as
BEGIN
	insert into ChucVu values(@MaChucVu,@TenChucVu)
END

GO
/****** Object:  StoredProcedure [dbo].[InsertDichVu_HocSinh]    Script Date: 2017/12/29 17:08:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[InsertDichVu_HocSinh]
(    
@MaCT_DV_HS varchar(20),    
@MaDichVu varchar(20),    
@MaHocSinh varchar(50),   
@thang varchar(7)
)    
As    
Begin
	if(not exists (select MaCT_DV_HS from CT_DichVu_HocSinh where MaDichVu=@MaDichVu and MaHocSinh=@MaHocSinh and ThangDangKy=@thang))
	begin
		Insert into CT_DichVu_HocSinh(MaCT_DV_HS,MaDichVu,MaHocSinh,ThangDangKy) values(@MaCT_DV_HS,@MaDichVu,@MaHocSinh,@thang);
	end
End  
  
GO
/****** Object:  StoredProcedure [dbo].[InsertPhieuThu]    Script Date: 2017/12/29 17:08:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertPhieuThu]
	@MaPhieuThu varchar(20),
	@NgayTaoPhieu varchar(7),
	@MaHocSinh varchar(20),
	@MaNhanVien varchar(20),
	@GhiChu varchar(100)
AS
BEGIN
	insert into PhieuThu values(@MaPhieuThu,@NgayTaoPhieu,@MaHocSinh,@MaNhanVien,@GhiChu)
END

GO
/****** Object:  StoredProcedure [dbo].[InsertUpdateChucVu]    Script Date: 2017/12/29 17:08:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
create PROCEDURE [dbo].[InsertUpdateChucVu]

@MaChucVu varchar(20),
@TenChucVu varchar(20),
@Action varchar(10)
as
BEGIN
	
if @Action='Insert'
Begin    
 insert into ChucVu values(@MaChucVu,@TenChucVu)  
End    
if @Action='Update'    
Begin    
 	update ChucVu set TenChucVu=@TenChucVu where MaChucVu=@MaChucVu
End    
End  


GO
/****** Object:  StoredProcedure [dbo].[InsertUpdateDichVuNgoai]    Script Date: 2017/12/29 17:08:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create Procedure [dbo].[InsertUpdateDichVuNgoai]
(    
@MaDichVu varchar(20),    
@TenDV nvarchar(50),   
@ChiPhi money,
@GhiChu nvarchar(100),
@Action varchar(10)
)    
As    
Begin    
if @Action='Insert'
Begin    
 Insert into DichVuNgoai(MaDichVu,TenDV,ChiPhi,GhiChu) values(@MaDichVu,@TenDV,@ChiPhi,@GhiChu);
End    
if @Action='Update'    
Begin    
 Update DichVuNgoai set TenDV=@TenDV,ChiPhi=@ChiPhi,GhiChu=@GhiChu where MaDichVu=@MaDichVu    
End    
End  
  
GO
/****** Object:  StoredProcedure [dbo].[InsertUpdateHocPhi]    Script Date: 2017/12/29 17:08:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create Procedure [dbo].[InsertUpdateHocPhi]
(    
@MaHocPhi varchar(20),    
@TenHocPhi nvarchar(50),   
@ChiPhi money,  
@GhiChu nvarchar(50),   
@LoaiHocPhi varchar(20) ,
@Action varchar(10)
)    
As    
Begin    
if @Action='Insert'
Begin    
 Insert into HocPhi(MaHocPhi,TenHocPhi,ChiPhi,GhiChu,LoaiHocphi) values(@MaHocPhi,@TenHocPhi,@ChiPhi,@GhiChu,@LoaiHocPhi);    
End    
if @Action='Update'    
Begin    
 Update HocPhi set TenHocPhi=@TenHocPhi,ChiPhi=@ChiPhi,GhiChu=@GhiChu,LoaiHocPhi=@LoaiHocPhi where MaHocPhi=@MaHocPhi    
End    
End  
  
GO
/****** Object:  StoredProcedure [dbo].[InsertUpdateHocSinh]    Script Date: 2017/12/29 17:08:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE Procedure [dbo].[InsertUpdateHocSinh]
(    
	@MaHocSinh   varchar(20)     ,
	@Ten   nvarchar (50)    ,
	@NgaySinh   date     ,
	@GioiTinh   nvarchar (5)  ,
	@DiaChi   nvarchar (200)    ,
	@TinhTrang   nvarchar (50)  ,
	@ChieuCao   int   ,
	@CanNang   int   ,
	@TenPhuHuynh   nvarchar (50)  ,
	@SoCmt   nvarchar (50)  ,
	@Sdt   nvarchar (50)  ,
	@Email   nvarchar (50)  ,
	@NgaySinhPhuHuynh   date   ,
	@GhiChu   nvarchar (50)  ,
	@MaLop   varchar (20)  ,
	@DoiTuongMta bit,
	@TrangThai   bit    ,
	@Action varchar(10)
)    
As    
Begin    
if @Action='Insert'
Begin    
 Insert into HocSinh(MaHocSinh,Ten, NgaySinh, GioiTinh , DiaChi , TinhTrang , ChieuCao , CanNang , TenPhuHuynh , SoCmt , Sdt , Email , NgaySinhPhuHuynh , GhiChu , MaLop ,DoiTuongMta, TrangThai) values(@MaHocSinh,@Ten, @NgaySinh, @GioiTinh , @DiaChi , @TinhTrang , @ChieuCao , @CanNang , @TenPhuHuynh , @SoCmt , @Sdt , @Email , @NgaySinhPhuHuynh , @GhiChu , @MaLop ,@DoiTuongMta, @TrangThai);    
End    
if @Action='Update'    
Begin    
 Update HocSinh set Ten=@Ten,NgaySinh=@NgaySinh,GioiTinh=@GioiTinh,DiaChi=@DiaChi,TinhTrang=@TinhTrang,ChieuCao=@ChieuCao,CanNang=@CanNang,TenPhuHuynh=@TenPhuHuynh,SoCmt=@SoCmt,Sdt=@Sdt,Email=@Email,NgaySinhPhuHuynh=@NgaySinhPhuHuynh,GhiChu=@GhiChu,MaLop=@MaLop,DoiTuongMta=@DoiTuongMta,TrangThai=@TrangThai
  where MaHocSinh=@MaHocSinh    
End      
End  
  
GO
/****** Object:  StoredProcedure [dbo].[InsertUpdateLoaiHocPhi]    Script Date: 2017/12/29 17:08:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[InsertUpdateLoaiHocPhi]
(    
@MaLoai varchar(20),    
@TenLoai nvarchar(50),   
@GhiChu nvarchar(100),
@Action varchar(10)
)    
As    
Begin    
if @Action='Insert'
Begin    
 Insert into LoaiHocPhi(MaLoai,TenLoai,GhiChu) values(@MaLoai,@TenLoai,@GhiChu);    
End    
if @Action='Update'    
Begin    
 Update LoaiHocPhi set TenLoai=@TenLoai,GhiChu=@GhiChu where MaLoai=@MaLoai    
End    
End  
  
GO
/****** Object:  StoredProcedure [dbo].[InsertUpdateLop]    Script Date: 2017/12/29 17:08:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[InsertUpdateLop]
(    
@MaLop varchar(20),    
@TenLop nvarchar(50),   
@GhiChu nvarchar(50),  
@SiSo int,    
@Action varchar(10)
)    
As    
Begin    
if @Action='Insert'
Begin    
 Insert into Lop(MaLop,TenLop,GhiChu,SiSo) values(@MaLop,@TenLop,@GhiChu,@SiSo);    
End    
if @Action='Update'    
Begin    
 Update Lop set TenLop=@TenLop,GhiChu=@GhiChu,SiSo=@SiSo where MaLop=@MaLop    
End    
End  
  
GO
/****** Object:  StoredProcedure [dbo].[InsertUpdateNhanVien]    Script Date: 2017/12/29 17:08:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[InsertUpdateNhanVien]
(    
@MaNhanVien varchar(20),    
@TenNhanVien nvarchar(50),    
@DiaChi nvarchar(200),    
@Sdt nvarchar(50),    
@Email nvarchar(50),    
@MaChucVu varchar(10),
@MaLop varchar(20),
@Password nvarchar(50),
@Action varchar(10)
)    
As    
Begin
if(@MaChucVu!='GVC' and @MaChucVu !='GVP')
	begin
		set @MaLop=null
	end	
if @Action='Insert'
Begin  	
	Insert into NhanVien(MaNhanVien,TenNhanVien,DiaChi,Sdt,Email,MaChucVu,MaLop,Password) values(@MaNhanVien,@TenNhanVien,@DiaChi,@Sdt,@Email,@MaChucVu,@MaLop,@Password);    			
End    
if @Action='Update'    
Begin    
 Update NhanVien set TenNhanVien=@TenNhanVien,DiaChi=@DiaChi,Sdt=@Sdt,Email=@Email,MaChucVu=@MaChucVu,MaLop=@MaLop,Password=@Password where MaNhanVien=@MaNhanVien    
End      
End  
  
GO
/****** Object:  StoredProcedure [dbo].[sp_CheckExitsGiaoVien]    Script Date: 2017/12/29 17:08:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CheckExitsGiaoVien]
	@Id varchar(20)
AS
BEGIN
	select * from NhanVien where MaNhanVien=@Id and (MaChucVu='GVC' or MaChucVu='GVP')
END

GO
/****** Object:  StoredProcedure [dbo].[sp_Ct_DichVu_HocSinh_NewID]    Script Date: 2017/12/29 17:08:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[sp_Ct_DichVu_HocSinh_NewID]
AS
BEGIN
	declare @ma_next varchar(15)
	set @ma_next ='CT_DV_HS-'+LEFT(NEWID(),6)
	while(exists(select MaCT_DV_HS from CT_DichVu_HocSinh where MaCT_DV_HS=@ma_next))
	begin
		set @ma_next='CT_DV_HS-'+left(NEWID(),6)
	end
	select @ma_next as MaCT_DV_HS
END

GO
/****** Object:  StoredProcedure [dbo].[sp_CT_PhieuThu_HocSinh_NewID]    Script Date: 2017/12/29 17:08:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[sp_CT_PhieuThu_HocSinh_NewID]
AS
BEGIN
	declare @ma_next varchar(13)
	set @ma_next ='Ct_pt_hs-'+LEFT(NEWID(),4)
	while(exists(select MaCT_PhieuThu_HocSinh from CT_PhieuThu_HocSinh where MaCT_PhieuThu_HocSinh=@ma_next))
	begin
		set @ma_next='Ct_pt_hs-'+left(NEWID(),4)
	end
	select @ma_next as MaCT_PhieuThu_HocSinh
END

GO
/****** Object:  StoredProcedure [dbo].[sp_DichVuNgoai_NewID]    Script Date: 2017/12/29 17:08:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DichVuNgoai_NewID]
AS
BEGIN
	declare @ma_next varchar(6)
	set @ma_next ='DV-'+LEFT(NEWID(),3)
	while(exists(select MaDichVu from DichVuNgoai where MaDichVu=@ma_next))
	begin
		set @ma_next='DV-'+left(NEWID(),3)
	end
	select @ma_next as MaDichVu
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetInfoGiaoVienChuNhiem]    Script Date: 2017/12/29 17:08:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetInfoGiaoVienChuNhiem]
	@id varchar(20)
AS
BEGIN
	select nv.MaNhanVien as MaGiaoVien,nv.TenNhanVien as TenGiaoVien,cv.MaChucVu,cv.TenChucVu,lp.MaLop,lp.TenLop,lp.SiSo,nv.DiaChi,nv.Sdt,nv.Email 
                                from(select lp.* from Lop lp 
										inner join NhanVien nv1 on nv1.MaLop=lp.MaLop 
										and (nv1.MaChucVu='GVC' or nv1.MaChucVu='GVP') 
										and nv1.MaNhanVien=@id) lopnew inner join NhanVien nv on nv.MaLop=lopnew.MaLop
										inner join ChucVu cv on nv.MaChucVu = cv.MaChucVu 
										inner join Lop lp on nv.MaLop = lp.MaLop 
										and cv.MaChucVu = 'GVC'
END

GO
/****** Object:  StoredProcedure [dbo].[sp_GetListGVForIdLogin]    Script Date: 2017/12/29 17:08:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetListGVForIdLogin]
	@Id varchar(20)
AS
BEGIN
	select nv.MaNhanVien as MaGiaoVien,nv.TenNhanVien as TenGiaoVien,cv.MaChucVu,cv.TenChucVu,lopNew.MaLop,lopNew.TenLop,lopNew.SiSo,nv.DiaChi,nv.Sdt,nv.Email 
                from (select lp.* from Lop lp 
						inner join NhanVien nv1 on nv1.MaLop=lp.MaLop 
						and (nv1.MaChucVu='GVC' or nv1.MaChucVu='GVP') 
						and nv1.MaNhanVien=@Id) lopnew inner join NhanVien nv on nv.MaLop = lopNew.MaLop 
                        inner join ChucVu cv on cv.MaChucVu = nv.MaChucVu
						and (nv.MaChucVu='GVC' or nv.MaChucVu='GVP');
END

GO
/****** Object:  StoredProcedure [dbo].[sp_GetQuyenNhanVien]    Script Date: 2017/12/29 17:08:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetQuyenNhanVien]
	@id varchar(10)
AS
BEGIN
	select q.MaQuyen from NhanVien nv inner join ChucVu cv on nv.MaChucVu = cv.MaChucVu 
                inner join Quyen_ChucVu qc on cv.MaChucVu = qc.MaChucVu 
                inner join Quyen q on qc.MaQuyen = q.MaQuyen 
                and nv.MaNhanVien = @id
END

GO
/****** Object:  StoredProcedure [dbo].[sp_HocPhi_NewID]    Script Date: 2017/12/29 17:08:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[sp_HocPhi_NewID]
AS
BEGIN
	declare @ma_next varchar(10)
	set @ma_next ='HocPhi-'+LEFT(NEWID(),4)
	while(exists(select MaHocPhi from HocPhi where MaHocPhi=@ma_next))
	begin
		set @ma_next='HocPhi-'+left(NEWID(),4)
	end
	select @ma_next as MaHocPhi
END

GO
/****** Object:  StoredProcedure [dbo].[sp_HocSinh_NewID]    Script Date: 2017/12/29 17:08:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[sp_HocSinh_NewID]
AS
BEGIN
	declare @ma_next varchar(6)
	set @ma_next ='HS-'+LEFT(NEWID(),4)
	while(exists(select MaHocSinh from HocSinh where MaHocSinh=@ma_next))
	begin
		set @ma_next='HS-'+left(NEWID(),4)
	end
	select @ma_next as MaHocSinh
END

GO
/****** Object:  StoredProcedure [dbo].[sp_LoaiHocPhi_NewID]    Script Date: 2017/12/29 17:08:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[sp_LoaiHocPhi_NewID]
AS
BEGIN
	declare @ma_next varchar(15)
	set @ma_next ='LoaiHocPhi-'+LEFT(NEWID(),4)
	while(exists(select MaLoai from LoaiHocPhi where MaLoai=@ma_next))
	begin
		set @ma_next='LoaiHocPhi-'+left(NEWID(),4)
	end
	select @ma_next as MaLoai
END

GO
/****** Object:  StoredProcedure [dbo].[sp_Lop_NewID]    Script Date: 2017/12/29 17:08:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[sp_Lop_NewID]
AS
BEGIN
	declare @ma_next varchar(6)
	set @ma_next ='Lop-'+LEFT(NEWID(),2)
	while(exists(select MaLop from Lop where MaLop=@ma_next))
	begin
		set @ma_next='Lop-'+left(NEWID(),2)
	end
	select @ma_next as MaHocSinh
END

GO
/****** Object:  StoredProcedure [dbo].[sp_NhanVien_NewID]    Script Date: 2017/12/29 17:08:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_NhanVien_NewID]
AS
BEGIN
	declare @ma_next varchar(6)
	set @ma_next ='NV-'+LEFT(NEWID(),4)
	while(exists(select MaNhanVien from NhanVien where MaNhanVien=@ma_next))
	begin
		set @ma_next='NV-'+left(NEWID(),4)
	end
	select @ma_next as MaNhanVien
END

GO
/****** Object:  StoredProcedure [dbo].[sp_PhieuThu_NewID]    Script Date: 2017/12/29 17:08:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[sp_PhieuThu_NewID]
AS
BEGIN
	declare @ma_next varchar(12)
	set @ma_next ='PhieuThu-'+LEFT(NEWID(),3)
	while(exists(select MaPhieuThu from PhieuThu where MaPhieuThu=@ma_next))
	begin
		set @ma_next='PhieuThu-'+left(NEWID(),3)
	end
	select @ma_next as MaPhieuThu
END

GO
/****** Object:  StoredProcedure [dbo].[UpdateChucVu]    Script Date: 2017/12/29 17:08:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
create PROCEDURE [dbo].[UpdateChucVu]

@MaChucVu varchar(20),
@TenChucVu varchar(20)
as
BEGIN
	update ChucVu set TenChucVu=@TenChucVu where MaChucVu=@MaChucVu
END

GO
USE [master]
GO
