<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>System Error!</title>
    <link href="~/Areas/Admin/Content/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container col-lg-12 col-md-6" style="margin-top:20px">
        <div class="jumbotron">
            <h1>Lỗi hệ thống!</h1>
            <p>Liên hệ nhà quản trị để khắc phục sự cố</p>
            <input type="button" class="btn btn-warning" value="Quay lại!" onclick="history.back(-1)" />
        </div>
    </div>
</body>
</html>
