
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div id="page-wrapper">
  
    <!-- /.row -->   
    @Html.Action("Partial_ThongTinLop", "GiaoVien") 
    <!-- /.row -->
    @Html.Action("Partial_DiemDanhLop", "GiaoVien")
    
    @Html.Action("Partial_DanhSachHocSinh", "GiaoVien")
</div>
<!-- /#page-wrapper -->
