
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<div id="page-wrapper">
    
    <div class="row">
              <div class="col-md-4 col-sm-12 col-xs-12">
                  <div class="panel panel-primary text-center no-boder bg-color-green">
                      <div class="panel-body">
                          <i class="fa fa-windows fa-5x"></i>
                          <h3>QUẢN TRỊ VIÊN</h3>
                      </div><a href="@Url.Action("HomeAdmin_index", "HomeAdmin")">
                          <div class="panel-footer back-footer-green">
                              Chi tiết
                          </div>
                      </a>
                  </div>
              </div>
              <div class="col-md-4 col-sm-12 col-xs-12">
                  <div class="panel panel-primary text-center no-boder bg-color-green">
                      <div class="panel-body">
                          <i class="fa fa-graduation-cap fa-5x"></i>
                          <h3>GIÁO VIÊN</h3>
                      </div><a href="@Url.Action("Index","GiaoVien")">
                          <div class="panel-footer back-footer-green">
                              Chi tiết
                          </div>
                      </a>
                  </div>
              </div>
              <div class="col-md-4 col-sm-12 col-xs-12">
                  <div class="panel panel-primary text-center no-boder bg-color-green">
                      <div class="panel-body">
                          <i class="fa fa-anchor fa-5x"></i>
                          <h3>KẾ TOÁN</h3>
                      </div><a href="@Url.Action("DanhSachHocSinh","KeToan")">
                          <div class="panel-footer back-footer-green">
                              Chi tiết
                          </div>
                      </a>
                  </div>
              </div>
</div>
</div>
<!-- /#page-wrapper -->
